/* fonts */
/* Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* === for test only === */
/* {border:1px solid red;} */


/* ==================== variables ==================== */
:root {

	/* font sizes */
	--font-size: 24px;
	--font-size-big: calc(var(--font-size)*2);

	/* gap sizes */
	--gutter: calc(var(--font-size) * 1.618);

	/* colors */
	--bg-color: black;
	--text-color: white;
	--list-color: white;
	--list-text-color: black;
	--btn-color: orange;
	--btn-text-color:black;
	--bar-color: orange;
	--bar-bg-color: beige;
}

/* color */
body {
	background-color: var(--bg-color);
	color: var(--text-color);
}
/* fonts */
body {
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
}

/* ==================== global margin ==================== */
.margin {
	margin-left: var(--gutter);
	margin-right: var(--gutter);
}

@media (min-width: 1280px){
	.margin {
		width: 1280px;
		margin-left: auto;
		margin-right: auto;
		padding-left: var(--gutter);
		padding-right: var(--gutter);
	}
}

/* ==================== global layout ==================== */

body {
	display: flex;
	flex-direction: column;
	gap: var(--gutter);
	padding-top: var(--gutter);
	padding-bottom: var(--gutter);
 }
 main {
	display: flex;
	flex-direction: row;
	gap: var(--gutter);
 }
 main > section {
	width: 50%;
 }

/* ==================== header ==================== */
h1 {
	font-size: var(--font-size-big);
	font-weight: 200;
}

/* ==================== info ==================== */

/* weather */
#weather {
	display: flex;
	flex-direction: column;
	gap: calc(var(--gutter)/2);
}
#weather li {

}

/* ==================== todo list ==================== */
#todo {
	display: flex;
	flex-direction: column;
	gap: var(--gutter);
}
#todo-list {
	display: flex;
	flex-direction: column;
	gap: calc(var(--gutter)/2);
}
#todo-list li {
	background-color: var(--list-color);
	border-radius: 10px;
	color: var(--list-text-color);
}
#todo-list li .flex {
	padding: var(--gutter);
	padding-bottom: calc( var(--gutter) - 10px);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.right {
	display: flex;
}
/* time left */
.time-left {
	display: flex;
	align-items: center;
}

/* arrow */
.list-control {
	display: flex;
	flex-direction: row;
}
.arrow {
	display: flex;
	flex-direction: column;
}

/* delete */
.no-space {
	width: 0;
}
.delete {
	position: relative;
	left: calc(var(--gutter)/2);
	width: var(--gutter);
	height: var(--gutter);
	border-radius: 100px;
	background-color: var(--btn-color);
	color: var(--btn-text-color);
	display: flex;
	justify-content: center;
	align-items: center;
}
@media (hover: hover){
	.delete {
		opacity: 0;
		transition: 0.25s;
	}
	li:hover .delete {
		opacity: 1;
	}
}
/* progress bar */
.progress-bar {
	/* top-left | top-right | bottom-right | bottom-left */
	border-radius: 0 0 10px 10px;
	overflow: hidden;
}

progress{
	display: block;
	height: 10px;
	width: 100%;
}
/* bg color */
progress::-webkit-progress-bar {background-color: var(--bar-bg-color); width: 100%;}
/* bar color */
progress::-webkit-progress-value {background-color: var(--bar-color) !important;}

/* add new task */
#buttons {
	display: flex;
	flex-direction: row;
	gap: calc(var(--gutter)/2);
}
button {
	display: block;
	/* width: 100%; */
	padding: calc(var(--gutter)/2);
	background-color: var(--btn-color);
	color: var(--btn-text-color);
	border-radius: 100px;
}
#add-form {
	padding: var(--gutter);
	background-color: var(--list-color);
	color: var(--list-text-color);
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	gap: calc(var(--gutter)/2);
}
input {
	background-color: rgba(0, 0, 0, 0.05);
}
.hidden {
	display: none;
}

/* ==================== footer ==================== */
footer {
	font-size: calc( var(--font-size) / 2 );
	text-align: center;
	position: fixed;
	bottom: var(--gutter);
	width: 100%;
}