/* fonts */
/* Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* === for test only === */
/* {border:1px solid red;} */


/* ==================== variables ==================== */
:root {

	/* font sizes */
	--font-size-small: 16px;
	--font-size: 16px;
	--font-size-big: calc(var(--font-size)*1.5);
	--font-size-huge: calc(var(--font-size)*3);


	/* gap sizes */
	--gutter: calc(var(--font-size) * 1.618);

	/* colors */
	--bg-color: black;
	--text-color: white;

	--translucent-bg-color: rgba(255, 255, 255, 0.1);

	--list-color: white;
	--list-text-color: black;
	--list-color-active: orange;
	--list-color-pause: lightgray;

	--btn-color: orange;
	--btn-text-color:black;

	--bar-color: rgba(0,0,0,0.2);
	--bar-bg-color: rgba(255,255,255,0);

	/* flex box switch */
	--flexbox-display: column;
}
@media (min-width: 480px) {
	:root { --font-size: 18px }
}
@media (min-width: 1024px) {
	:root { --font-size: 24px }
}
@media (min-width: 768px) {
	:root { --flexbox-display: row; }
}

/* color */
body {
	background-color: var(--bg-color);
	color: var(--text-color);
	transition: background-color 2s ease;
}
/* fonts */
body {
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	font-size: var(--font-size-small);
}



/* ==================== global margin ==================== */
.margin {
	margin-left: var(--gutter);
	margin-right: var(--gutter);
}

@media (min-width: 1280px){
	.margin {
		width: 1280px;
		margin-left: auto;
		margin-right: auto;
		padding-left: var(--gutter);
		padding-right: var(--gutter);
	}
}

/* ==================== global layout ==================== */
html {
	scroll-behavior: smooth;
}
body{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	/* align-items: center; */
	min-height: 100vh;
	padding-top: var(--gutter);
	padding-bottom: var(--gutter);
}
body > div{
	display: flex;
	flex-direction: column;
	gap: var(--gutter);
 }
 main {
	display: flex;
	flex-direction: var(--flexbox-display);
	gap: var(--gutter);
 }

 @media (min-width: 768px) {
	main > section { width: 50%; }
	header {
		position: sticky;
		top: var(--gutter);
	}
}

/* ==================== header ==================== */
header{
	z-index: -1;
}
header p {
	font-size: var(--font-size);
	font-weight: 300;
}
h1 {
	font-size: var(--font-size-huge);
	font-weight: 200;
}

/* ==================== weather ==================== */
#info{
	z-index: 0;
}
#weather>section {
	display: flex;
	flex-direction: column;
	gap: calc(var(--gutter)/2);
}

#weather li{
	padding: calc(var(--gutter)/2);;
	background-color: var(--translucent-bg-color);
	border-radius: 10px;
}

#weather .label {
	opacity: 50%;
}

.iconAndTempFlex{
	display: flex;
	flex-direction: row;
	gap: calc(var(--gutter)/6);
	align-items: center;
}

span.bigIcon {
	font-size: calc(var(--font-size)*4);
	font-variation-settings: 'wght' 100;
}
#rainicon {
	font-size: var(--font-size-small);
}

#weather .degree {
	font-size: var(--font-size-big); 
	font-weight: 600;
}

/* mobile */
#weather #weather-mobile{
	display: none; 
}

@media (max-width: 768px){
	#weather #weather-desktop{
		display: none; 
	}
	#weather #weather-mobile{
		display: flex; 
	}
	#weather-mobile li{
		transition: 1s;
		height: calc(var(--gutter)*4);
	}
	#weather-mobile.open li{
		height: calc(var(--gutter)*13);
	}
	#weather-mobile section {
		transition: 1s;
	}
	#weather-mobile section.min{
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		height: 100%;
	}
	#weather-mobile.open section.max{
		display: flex; 
		flex-direction: column;
		gap: calc(var(--gutter)/2);
		opacity: 100%;
		justify-content: center;
		height: 100%;
	}
	#weather-mobile.open section.min, #weather-mobile section.max{
		/* display: none;  */
		height: 0px;
		opacity: 0%;
	}
}
/* ==================== todo ==================== */
#todo {
	display: flex;
	flex-direction: column;
	gap: var(--gutter);
}

/* message section */
#msg-flex{
	display: flex;
	flex-direction: row;
	/* height: calc(var(--gutter)*2); */
	/* align-items: center; */
	margin-top: calc(var(--gutter)/2);
	gap: calc(var(--gutter)/4);
}
#msg-flex>div:first-child{
	width: 60%;
}
/* global count down */
#plan-time {
	background-color: rgba(255, 255, 255, 0.1);
	font-weight: 600;
	margin-left: calc(var(--gutter)/4);
	padding: calc(var(--gutter)/4);
	border-radius: 10px;
}
input[type="time"]::-webkit-calendar-picker-indicator{
	filter: invert(100%);
}

#countdown-msg, #routineTime-msg {
	text-transform: uppercase;
	font-size: var(--font-size-big); 
	font-weight: 600;
}
#countdown-msg .label, #routineTime-msg .label{
	font-size: var(--font-size-small); 
	font-weight: 400;
}

/* warning */
#warning{
	color: orangered;
	/* opacity: 0%; */
	/* animation: blinker 1s step-start infinite; */
}

@keyframes blinker {
50% {
	opacity: 0;
}
}

/*==================== todo list ====================*/
#todo-list {
	display: flex;
	flex-direction: column;
}
/* when finished */
#todo-list>p{
	font-size: var(--font-size);
	
	/* color: orangered; */
}
#todo-list>p:first-child{
	font-size: var(--font-size-huge);
	font-weight: 600;
	text-transform: uppercase;
}

#todo-list li {
	margin-bottom: calc(var(--gutter)/2);

	background-color: var(--list-color);
	color: var(--list-text-color);
	border-radius: 10px;
	height: calc(var(--gutter)*3);
	transition: 1s;
	filter: drop-shadow(0 0 20px rgba(0,0,0,0.1));
 }
#todo-list li .flex {
	height: 100%;
	padding-left: var(--gutter);
	padding-right: var(--gutter);

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

/* states */
#todo-list li.active {
	background-color: var(--list-color-active);
}
#todo-list li.past {
	height: 0px;
	opacity: 0;
	margin-bottom: 0;
}
#todo-list li.pause {
	background-color: var(--list-color-pause);
	filter: drop-shadow(0 0 10px rgba(0,0,0,0.5));
}
/* hover */
#todo-list li:hover {
	filter: drop-shadow(0 0 10px rgba(0,0,0,0.5));
}
/* drag */ 
#todo-list li.dragging{
	opacity: 0;
}

/* cursor */
#todo-list li{
	cursor: grab;
}
#todo-list li:hover:active,#todo-list li.dragging{
	cursor: grabbing;
}


/* time left */
.time-left {
	display: flex;
	align-items: center;
}

/* arrow */
.list-control {
	display: flex;
	flex-direction: row;
}
.arrow {
	display: flex;
	flex-direction: column;
}

/* delete */
.no-x-space {
	width: 0;
}
.no-x-space > div {
	position: relative;
	left: calc(var(--gutter)/2);
	width: var(--gutter);
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.delete {
	width: var(--gutter);
	height: var(--gutter);
	border-radius: 100px;
	background-color: var(--btn-color);
	color: var(--btn-text-color);
	display: flex;
	justify-content: center;
	align-items: center;
}
@media (hover: hover){
	.delete {
		opacity: 0;
		transition: 0.25s;
	}
	li:hover .delete {
		opacity: 1;
	}
}

/* text */
.item-name{
	font-weight: 600;
	/* font-size: var(--font-size); */
}

/* progress bar */
.progress-bar {
	/* top-left | top-right | bottom-right | bottom-left */
	border-radius: 0 0 10px 10px;
	overflow: hidden;
	opacity: 0;
	position: relative;
	top: -10px;
}
#todo-list li.active > .progress-bar{
	opacity: 100;
}

progress{
	display: block;
	height: 10px;
	width: 100%;
}
/* bg color */
progress::-webkit-progress-bar {background-color: var(--bar-bg-color); width: 100%;}
/* bar color */
progress::-webkit-progress-value {background-color: var(--bar-color) !important;}

/* buttons */
.buttons {
	display: flex;
	flex-direction: row;
	gap: calc(var(--gutter)/2);
}
button {
	display: flex;
	flex-direction: row;
	align-items: center;
	
	z-index: 2;
	padding: calc(var(--gutter)/2);
	background-color: var(--btn-color);
	color: var(--btn-text-color);
	border-radius: 100px;
	/* font-weight: 600; */
}

/* add new task */
#add-form {
	padding: var(--gutter);
	background-color: var(--list-color);
	color: var(--list-text-color);
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	gap: calc(var(--gutter)/2);
}
#add input {
	background-color: rgba(0, 0, 0, 0.1);
}


.hidden {
	display: none;
}

/* ==================== footer ==================== */
footer {
	font-size: calc( var(--font-size) / 2 );
	text-align: center;
	z-index: -1;
}
@media (min-width: 768px) {
	footer {
		position: fixed;
		text-align: left;
		bottom: calc( var(--gutter));
	}
}